footer, header, section,aside, nav, article, figure, figcaption,
hgroup{
display: inline;
} 

header{
  padding: 0 2em;
  text-align:left;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #DEA908;
  background: #eee;
}
body {
  padding: 0 2em;
  text-align:center;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}
footer {
  padding: 0 2em;
  text-align:center;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #aaa;
}


h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34444E;
  color: #fff;
  border-radius: 1em;
  overflow: hidden;}
  tr {
    
     border-top: 10px solid #ddd;
    border-bottom: 10px solid #ddd
  }

  
  th, td:before {
    color: #dd5;
  }







h2 {
font: bold 14px verdana, sans-serif;
}